main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    width: 60vw;
    height: 80vh;
    background-color: red;
    border-radius: 1rem;
    overflow: hidden;
    font-family: "Nunito" , "Vazirmatn";
}

.chat-container{
    width: 100%;
    background: radial-gradient(white, lightyellow, lightblue);
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: lightyellow;
    box-shadow: 0px 0px 30px 15px lightyellow;
    position: relative;
}

header::after{
    content: "";
    width: 100%;
    background-color: lightyellow;
    height: 2vh;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.5;
    filter: blur(5px);
}

header > a , header > h4 {
    font-size: 1.5rem;
    transition-duration: 400ms;
}

header > a:hover {
    scale: 1.3;
}

.chat-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.chat-display{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-bottom: 10vh;
    overflow-y: scroll;
}

.input-container{
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    min-height: 8vh;
    max-height: 12vh;
    background-color: transparent;
}

.input-container > form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 2vw;
    column-gap: 2vw;
}

.input-container > form > input{
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px #0000002b;
    border: none;
    direction: rtl;
}

.input-container > form > input:active , .input-container > form > input:focus{
    border: none;
}

.input-container > form > button{
    box-shadow: 0px 0px 10px 0px #0000005a;
    background-color: darkblue;
    border: none;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border-radius: 50%;
    cursor: pointer;
}

.chat-messages-container {
    padding: 1rem 1.5rem; 
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: flex-start;
}

.chat-message-user {
    background-color: #ffffff;
    align-self: flex-end;
    direction: rtl;
}

.chat-message-bot {
    background-color: #060632;
    align-self: flex-start;
    direction: ltr;
    color: white;
}

.chat-message-container {
    display: inline-flex;
    align-items: start;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 1rem;
    max-width: 80%;
    word-wrap: break-word;
    box-sizing: border-box;
}

.chat-message-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    font-size: 1.5rem;
}
.chat-message-container > p {
    direction: rtl;
    margin: 0.3rem;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    padding: 1rem;
    background-color: lightgrey;
    border-radius: 1rem;
}
